# Operating System files
.DS_Store
Thumbs.db

# Python environment files
__pycache__/
*.pyc
*.pyo
.env
.venv/
env/
venv/

# Miniconda and Mamba files
miniconda3/
*.sh

# Log files
*.log

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.swp

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env.local
.env.prod